
@{
    ViewBag.Title = "Testimonial";
}

<h2>Testimonial</h2>

<p>"I said school starts tomorrow. I didn't say I was going to be there." - Kim Harrison</p>
<p>"My code DOESN’T work, I have no idea why. My code WORKS, I have no idea why" - Every Programmer ever</p>
    

